<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registrar Nueva Meta</h4>
                        <p class="card-category">Ingresa los datos de tu nueva meta deportiva</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="metasForm">
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Kilometros Recorridos" formControlName="km_recorridos" type="number"> 
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Tiempo en minutos" formControlName="tiempo" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Velocidad Promedio (km/hora)" formControlName="velocidad_promedio" type="number">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Fecha de la Meta" formControlName="fecha" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Coordenadas de Inicio" formControlName="coordenadas_inicio" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Coordenadas de Fin" formControlName="coordenadas_fin" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="registerRecord()">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  