<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Neveras disponibles</h4>
                        <p class="card-category">Resumen</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        En inventario
                                    </th>
                                    <th>
                                        En espera
                                    </th>
                                    <th>
                                        En punto de destino
                                    </th>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td>
                                           55
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                           44
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
