<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Realizar pedido</h4>
                        <p class="card-category">Ingresa el numero de neveras que desea</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="metasForm">
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Numero de neveras" formControlName="km_recorridos" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Comentarios" formControlName="coordenadas_fin" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="pedir()">Pedir</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

